*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color:#393E46;
}

.container{
    background-color: #EEEEEE;
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

h1{
    font-family:  'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 30px;
    color: #222831;
}

form{
    display: flex;
    flex-direction: column;
}

input,textarea,button{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    font: 100 1.1rem ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    
}

button{
    background-color:#222831;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s;

}

button:hover{
    background-color: #00b0b9;
}

.task{
    background-color: #222831;
    color: #ffffff;
    font: 100 1.1rem ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    display: flex;
    align-items: center;
    margin: 2vmax;
    border-radius: 5px;
    word-wrap: break-word;
}

.task > div{
    width: 90%;
}

.task span{
    color: #EEEEEE;
}

.task p{
    font-size: 1.2rem;
}

.deleteBtn{
    color:#EEEEEE;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(183, 30, 61);
    
}
